.wrapper{
  margin-top: 0px;
  background: url("../images/Imagalto.jpg");
  background-size: cover;
  padding: 200px 0;
  color: black;
}

.wrapper h1, .wrapper h2{
  text-shadow: 1px 1px 2px black;
}

.wrapper h2{
  margin-bottom: 30px;
}