---
layout: default
title: Pi Day - Concours de tartes
permalink: /Tartes_carousel/
---

<div class="vertical-spacer"></div>
<div class="container">
	<div class="row text-center">
    	<div class="col-sm-12">
			<div class="catchphrase">
        		<p>
        			A vos tartes, amis des sciences!</p>
        			<!-- Autre proposition : Let's pie!-->
			</div>
		</div>
	</div>
<div class="vertical-spacer"></div>

<div class="row">
	<div class="col-sm-6">
		<p>Comme chaque année, la journée de pi est l'occasion de célébrer les mathématiques et les sciences tout en dégustant de délicieuses tartes. Le <strong>concours de tartes</strong> est un événement incontournable du π day. Qu'elles soient <strong>salées ou sucrées</strong>, toutes les tartes sont acceptées pour ce concours qui est l'occasion de mêler plaisir gastronomique et sciences.
                </p>
                <p> Pour participer, rien de plus simple, il suffit de venir le <strong>14 mars 2016</strong> muni de sa tarte. Une liste des ingrédients utilisés vous sera égaement demandée afin de prévenir les éventuelles allergies.
                </p>
                <p>Cette année, le jury composé par les organisateurs du spectacle se réunira afin d'élire les plus merveilleuses des tartes. Tarte la plus exquise, la plus loufoque ou la plus PItanesque seront élues à l'issue d'une compétition épique! Aors faites preuves d'originalité et d'audace pour nous <strong>concocter des tartes aussi délicieuses que surprenantes</strong>.
                C'est par la remise des prix que se clôturera notre spectacle, où les heureux lauréats se verront remettre leur prix sous un tonnerre d'aplaudissements. Des <strong>lots fantastiques</strong> (tels que des livres, t-shirts, cours et accessoires de pâtisserie) seront à gagner à l'issue de ce concours.</p>
                <p>Si vous le souhaitez, les <strong>recettes des tartes</strong> proposées lors du concours seront publiées sur le site internet. Amenez-les en direct ou alors envoyez-les par mail à <a href:"mailto:{{ site.email }}">{{ site.email }}</a>.</p>
    </div>
        <div class="col-sm-6">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              {% for tarte in site.data.tartes %}
              <li data-target="#myCarousel" data-slide-to="{{forloop.index0}}" class="active"></li>
              {% endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              {% for tarte in site.data.tartes %}
              <div class="item active">
                  <img src="{{ '/images/tartes' | append tarte.filename}}" alt="{{tarte.name}}">
                  <div class="carousel-caption">
                      <p>{{ partenaire.caption}}</p>
                  </div>
              </div>
              {% endfor %}
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Précedente</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Suivante</span>
          </a>
        </div>
        
        
    </div>
    <!-- <div class="col-sm-12">

    </div> -->
  </div>
</div>


      </div>
    </div>
