---
layout: default
title: Pi Day - Concours de tartes
permalink: /Tartes/Photos
redirect_from: /2016/Tartes/Photos/index.html
---
<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-sm-12">
	      <div class="catchphrase">
          <p>Les tartes de cette année : un grand bravo à tous les participants !</p>
        </div>
      </div>
    </div>
  </div>

  <div class="vertical-spacer"></div>

  <div class="row">
    {% for tarte in site.data.tartes-2016 %}
      <div class="col-lg-3 col-sm-4 col-xs-6">
	      <div class="thumbnail thumbnail-tartes">
          <div class="caption">
            <h4>{{ tarte.name }}</h4>
            <p>{{ tarte.prize }}</p>
          </div>
          <a title="{{ tarte.name }}" href="#">
            <img class="img-responsive carousel-thumbnail" src="{{ '/images/tartes-2016/thumbnails/thumbnail-' | append: tarte.id | append: '.jpg'}}" alt="{{tarte.name}}">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="modal" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" type="button btn-default" data-dismiss="modal">×</button>
      <h3 class="modal-title">{{ site.data.tartes-2016[0].name }}</h3>
    </div>
    <div class="modal-body">
      <div id="modalCarousel" class="carousel">
          <div class="carousel-inner">

	    {% for tarte in site.data.tartes-2016 %}
	    {% if forloop.index0 == 0 %}
	    <div class="item active" title="{{ tarte.name }}">
	    {% else %}
	    <div class="item" title="{{ tarte.name }}">
	      {% endif %}
	      <p>{{ tarte.prize }}</p>
              <img class="img-responsive thumbnail thumbnail-tartes" src="{{ '/images/tartes-2016/' | append: tarte.id | append: '.jpg' }}" alt="{{tarte.name}}">
	    </div>
	    {% endfor %}

          </div>
          <a class="carousel-control left" href="#modalCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
/* change modal title when slide changes */
$('#modalCarousel').on('slid.bs.carousel', function () {
  $('.modal-title').html($(this).find('.active').attr("title"));
})

/* when clicking a thumbnail */
$('.thumbnail').click(
function(){
  var idx = $(this).parents('div').index();
  var id = parseInt(idx);
  $('#myModal').modal({keyboard: true});
  $('#modalCarousel').carousel(id); // slide carousel to selected
});

$('.thumbnail').hover(
  function(){
    //$(this).find('.caption').fadeIn(250);
    $(this).find('.caption').css('opacity','1');
  },
  function(){
    //$(this).find('.caption').fadeOut(250);
    $(this).find('.caption').css('opacity','0');
  }
);
</script>
